@page
@model PRN221_BirthdayBookingParty.Pages.HostManagementModel
@{
		<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>UserID</th>
						<th>Full Name</th>
						<th>Telephone</th>
						<th>Email Address</th>
						<th>Home Address</th>
						<th>Birthday</th>
						<th>Status</th>
						<th colspan="2">Action</th>
					</tr>
				</thead>

				<tbody>
			@foreach (var user in Model.Users)
			{
									<tr>
										<td>@user.UserId</td>
										<td>@user.FullName</td>
										<td>@user.Phone</td>
										<td>@user.Email</td>
										<td>@user.Address</td>
										<td>@user.Birthday</td>
										<td>@user.Status</td>
										<td><a class="btn btn-primary" asp-page="/UserUpdate/@user.UserId">Update</a></td>
										<td><a class="btn btn-danger" asp-route-id="@user.UserId" asp-page="/CustomerDelete">Delete</a></td>
									</tr>
			}
				</tbody>
			</table>
}
